.login-form {
    border: 10px solid rgb(250, 205, 6);
    margin: 10px 120px;
    padding: 30px 10px;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}

.login-form  Button{
    size: 5px;
    padding: 12px;
    font-size:10px;
    text-align:center;
}

.login-form  Button img{
    width: 10px;
    height: inherit;
    padding-right: 2px;
}
.checkbox{
    zoom: 1.5;
    vertical-align: middle;
    position: relative;
}




