.product {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-right: 5px;
}
.product-name {
  color: black;
  font-weight: 400;
  font-family: "Bookman, serif";
  text-align: "justify";
}
.product-name a {
  color: #090b2b;
  font-weight: 500;
  text-decoration: none !important;
}
.product-name a:hover {
  color: #0069d9;
  text-shadow: #090b2b;
}

.main-button {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  color: rgb(48, 0, 0);
  font-size: 17px;
  font-weight: bolder;
}
