.uk {
  background-color: yellowgreen;
  background-image: linear-gradient(
    rgb(238, 238, 238),
    rgb(245, 244, 244),
    #f5f5f5
  );
}

.uk:hover {
  background-color: white;
  border: none;
}
