.ship-form {
  padding-top: 30px;
  margin: 1px;
}
.ship-form input {
  background: #f5f6f7;
  color: black;
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 500px;
  box-shadow: 1px 2px 1px 2px #feff8c;
}
.error {
  color: red;
}

.form-container {
  width: 70%;
}
.shipment-submit-btn:hover,
.pay-btn:hover {
  color: white;
  background-color: #5754fa;
}
.error {
  margin-left: 0.5rem;
  color: red;
}
.payment-div {
  margin-top: 1rem;
  margin-left: 1rem;
}
.pay-btn {
  margin-top: 1rem;
  background-color: #5754fa;
  color: white;
  width: 100px;
  height: 30px;
  border: none !important;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
